* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f363e;
}

.radial-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transform: 0.5s;
  transform-origin: 140px; 
  transform: rotate(0deg) translateX(110px);
}

.nav-menu .nav-toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #2f363e;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  transition: transform 1.25s;
  color: #fff;
}


.icon {
  scale: 1.3;
  transition: transform 1.25s;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 50%;
  transition: 1s;
}

.nav-menu li a:hover {
  transition: 0s;
  background-color: var(--clr);
  color: #333;
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr),
  0 0 50px var(--clr);
}